
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- main

pool:
  vmImage: ubuntu-latest

steps:
- task: AzureCLI@1
  inputs:
    azureSubscription: 'Visual Studio Enterprise(d322face-c3fa-408d-8c81-732800d9372a)'
    scriptType: 'batch'
    scriptLocation: 'inlineScript'
    inlineScript: |
      az appservice plan create --name Myfirstappserviceplan --resource-group MerazRG --location eastus --sku FREE
      
      

